.root {
    height: 100%;
    background-image: url('https://source.unsplash.com/random');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.splitpane{
    align-items: center;
}
.lewa{
    margin-bottom: 20%;
    margin-left: 17%;
    margin-right: 17%;
}
.prawa{
    display: flex;
    justify-content: center;
}
.przyciski {
    display: block;
    max-width: 350px;
}
.paper {
    padding: 40;
    border-radius: 50pt;
}

.submit {
    margin-top: 50px
}

.downloadButton {
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 10pt;
}
.loader {
    width: fit-content;
}
a {
    color: inherit;
    text-decoration: none;
}
